/* 通用字体 */
.fz-6{
    font-size: 12rpx !important;
}
.fz-7{
    font-size: 14rpx !important;
}
.fz-8{
    font-size: 16rpx !important;
}
.fz-9{
    font-size: 18rpx !important;
}
.fz-10{
    font-size: 20rpx !important;
}
.fz-11{
    font-size: 22rpx !important;
}
.fz-12{
    font-size: 24rpx !important;
}
.fz-13{
    font-size: 26rpx !important;
}
.fz-14{
    font-size: 28rpx !important;
}
.fz-15{
    font-size: 30rpx !important;
}
.fz-16{
    font-size: 32rpx !important;
}
.fz-17{
    font-size: 34rpx !important;
}
.fz-18{
    font-size: 36rpx !important;
}
.fz-20{
    font-size: 40rpx !important;
}
.fz-22{
    font-size: 44rpx !important;
}
.fz-24{
    font-size: 48rpx !important;
}
.fz-26{
    font-size: 52rpx !important;
}
.fz-28{
    font-size: 56rpx !important;
}
.fz-30{
    font-size: 60rpx !important;
}
.fz-32{
    font-size: 64rpx !important;
}
.fz-39{
    font-size: 78rpx !important;
}
.fz-50{
    font-size: 100rpx !important;
}
.fz-60{
    font-size: 120rpx !important;
}
.fz-70{
    font-size: 140rpx !important;
}
.fw-bold {
    font-weight: bold !important;
}
.text-cen {
    text-align: center !important;
}
.vc-hide {
    visibility: hidden;
}
/* 字体颜色 */
.fc-fff {
    color: #fff !important;
}
.fc-999 {
    color: #999 !important;
}
.fc-139 {
    color: #F1393BFF !important;
}
.fc-333 {
    color: #333333FF !important;
}
.fc-666 {
    color: #666666FF !important;
}
.fc-108 {
    color: #108EE9FF !important;
}
.fc-4bb {
    color: #4BBCFBFF !important;
}
.fc-637 {
    color: #637EACFF !important;
}
.bg-4bb {
    background-color: #4bbcfbff;
}
.bg-ffb {
    background-color: #FFBE75FF;
}
.bg-f96 {
    background-color: #F96061FF;
}
/* 布局 */
.fl-f {
    display: flex;
}
.fl-cen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fl-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fl-al {
    display: flex;
    align-items: center;
}
.fl-ccc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fl-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fl-fc {
    display: flex;
    flex-direction: column;
}
/* 偏移 */
/* 上 */
.mr-t-2{
    margin-top: 2rpx;
}
.mr-t-4{
    margin-top: 4rpx;
}
.mr-t-6{
    margin-top: 6rpx;
}
.mr-t-8{
    margin-top: 8rpx;
}
.mr-t-10{
    margin-top: 10rpx;
}
.mr-t-12{
    margin-top: 12rpx;
}
.mr-t-14{
    margin-top: 14rpx;
}
.mr-t-16{
    margin-top: 16rpx;
}
.mr-t-18{
    margin-top: 18rpx;
}
.mr-t-20{
    margin-top: 20rpx;
}
.mr-t-30{
    margin-top: 30rpx;
}
.mr-t-38{
    margin-top: 38rpx;
}
.mr-t-40{
    margin-top: 40rpx;
}
.mr-t-48{
    margin-top: 48rpx;
}
.mr-t-50{
    margin-top: 50rpx;
}
.mr-t-54{
    margin-top: 54rpx;
}
.mr-t-60{
    margin-top: 60rpx;
}
.mr-t-90{
    margin-top: 90rpx;
}
/* 左 */
.mr-l-10{
    margin-left: 10rpx;
}
.mr-l-14{
    margin-left: 14rpx;
}
.mr-l-18{
    margin-left: 18rpx;
}
.mr-l-20{
    margin-left: 20rpx;
}
.mr-l-24{
    margin-left: 24rpx;
}
.mr-l-26{
    margin-left: 26rpx;
}
.mr-l-30{
    margin-left: 30rpx;
}
.mr-l-32{
    margin-left: 32rpx;
}
.mr-l-38{
    margin-left: 38rpx;
}
.mr-l-40{
    margin-left: 40rpx;
}
.mr-l-50{
    margin-left: 50rpx;
}
.mr-l-60{
    margin-left: 60rpx;
}
.mr-l-64{
    margin-left: 64rpx;
}
.mr-l-66{
    margin-left: 66rpx;
}
.mr-l-112{
    margin-left: 112rpx;
}

/* 下 */
.mr-b-10{
    margin-bottom: 10rpx;
}
.mr-b-20{
    margin-bottom: 20rpx;
}
.mr-b-30{
    margin-bottom: 30rpx;
}
.mr-b-40{
    margin-bottom: 40rpx;
}
.mr-b-50{
    margin-bottom: 50rpx;
}
/* 右 */
.mr-r-10{
    margin-right: 10rpx;
}
.mr-r-14{
    margin-right: 14rpx;
}
.mr-r-18{
    margin-right: 18rpx;
}
.mr-r-20{
    margin-right: 20rpx;
}
.mr-r-28{
    margin-right: 28rpx;
}
.mr-r-30{
    margin-right: 30rpx;
}
.mr-r-32{
    margin-right: 32rpx;
}
.mr-r-40{
    margin-right: 40rpx;
}
.mr-r-50{
    margin-right: 50rpx;
}
/* 文字超長 ... */
.text-lang-dian {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
.text-lang-dian2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.td-text{
    text-decoration: line-through;
}
.contact-btn {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: salmon;
    opacity: 0;
}
.dianzi-style {
    margin-bottom: 48rpx;
}